.tcgTitle{

    color:var(--tcg-text);

    font-size:2.8rem;

    font-weight:700;

    letter-spacing:.25rem;

}
.tcgPage{

    background:#071B42;

}

.sapMPanel{

    border-radius:18px;

}

.sapMObjNumber{

    font-size:2rem !important;

}

.sapMTitle{

    color: black !important;

}